* {
    padding: 0;
    margin: 0;
    image-rendering:auto;
}
body{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: azure;
}
.contenido {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div-mapa{
    width: max-content;
    height: max-content;
}
#colombiaMapa path{
    visibility: hidden;
}
.departamento{
    fill: #f5f5f5;
    cursor: pointer;
    stroke: black;
}

.fill-departamento{
    fill: white;
}
.fondo{
    position: fixed;
    width: 100%;
    height: 100%;
}

.departamento:hover{
    fill: green;
}
.div-content-mapa{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: scale(1);
   transition: transform 0.8s;
}
.content-mapa{
    top: 0;
    left: 0;
    position: absolute;
    transition: top 0.5s, left 0.5s;
}

#colombiaMapa  .municipio-huila{
    fill: rgb(224, 15, 15);
}

/* .departamento{
    visibility: hidden;
} */