* {
    padding: 0;
    margin: 0;
    image-rendering: auto;
}

body {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: azure;
}

.contenido {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-mapa {
    width: max-content;
    height: max-content;
}

#colombiaMapa path {
    visibility: hidden;
    cursor: pointer;
}

.departamento {
    fill: #b01279;
    cursor: pointer;
    stroke: rgb(248, 248, 248);
}

.fill-departamento {
    fill: rgb(127, 70, 70);
}

.fondo {
    position: fixed;
    width: 100%;
    height: 100%;
}

.element-opacity {
    opacity: 0.3;
}

.departamento:hover,
#colombiaMapa .municipio-huila:hover {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    filter: brightness(1.2);
}

.div-content-mapa {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.8s;
}

.content-mapa {
    top: 0;
    left: 0;
    position: absolute;
    transition: top 0.5s, left 0.5s;
}

#colombiaMapa .municipio-huila {
    fill: rgb(224, 154, 15);
    stroke: white;
}

/* .departamento{
    visibility: hidden;
} */

.punto-cafe {
    width: 100%;
    height: 100%;
    fill: none;
    background: none;
    background-color: rgba(255, 255, 255, 0.031);
    flex: none;
}

.div-punto-ubicacion {
    width: 1%;
    height: auto;
    position: absolute;
}