#mainAnalisis {
    width: 100%;
}

#mainAnalisis .div-info-analisis {
    display: grid;
    grid-template-columns: auto auto;
}

#mainAnalisis .div-contenido-info-analisis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#mainAnalisis .div-table-analisis {
    width: 600px !important;
    background-color: rgba(220, 220, 220, 0.331);
}

#mainAnalisis #divContentFormResult {
    width: max-content;
}

#mainAnalisis #divContentFormResult .div-body-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#mainAnalisis #divContentFormResult .contenido-info-resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainAnalisis .iframe-formato-sca {
    width: 1500px;
    max-width: 100%;
    height: 500px;

}

#mainAnalisis .value-range-item {
    width: 100%;
    height: 100%;
}

#mainAnalisis .iframe-vacio-formato-sca {
    background-color: #00000021;
    cursor: not-allowed;
    border-radius: 4px;
}

#mainAnalisis .cotent-info-analisis {
    /* display: flex; */
    /* justify-content: center; */
    margin-bottom: 15px;
    width: 100%;
}

#mainAnalisis .cotent-info-analisis .div-info-analisis {
    width: max-content;
}

#mainAnalisis .form-registar-formato-sca {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#mainAnalisis #iframeFormRegister {
    width: 2500px;
}

#mainAnalisis .table-formato-fisico-template td,
.table-formato-fisico-template th {
    border: 1px solid black;
    padding: 10px 20px;
}

#mainAnalisis .table-formato-fisico-template th {
    background-color: rgb(13, 136, 97);
    color: white;
}

#mainAnalisis .table-formato-fisico-template {
    margin-bottom: 10px;
    width: 100%;
}

#mainAnalisis .div-table-formato-fisico-template {
    width: 1200px;
    max-width: 100%;
}

#mainAnalisis .div-content-info-analisis-formato {
    max-width: 100%;
}

#mainAnalisis .no-registra-formato-fisico {
    display: flex;
    color: #7171719c;
    font-weight: bolder;
    width: max-content;
    position: relative;
}

#mainAnalisis .line-no-registra-formato-fisico {
    width: 100%;
    height: 1.5px;
    background-color: rgba(113, 113, 113, 0.404);
    position: absolute;
    top: 50%;
    transform: rotate(5deg);
}

#mainAnalisis
/* #divFormFormatoFisico .form-register-formato-fisico {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 20px 80px;
 } */

#divFormFormatoFisico {
    width: 100%;
}

#mainAnalisis #divFormFormatoFisico>div>div>div {
    display: flex;
}

#mainAnalisis .div-body-form {
    width: 100% !important;
}

#mainAnalisis .contenido-info-resultado {
    max-width: 100%;
}

#mainAnalisis .contenido-info-resultado h3 {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 169, 116);
    margin-bottom: 20px;
    width: 100%;
}

#mainAnalisis
/* @media screen and (max-width: 1360px) {
     #divFormFormatoFisico .form-register-formato-fisico {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         gap: 20px 80px;
     }
 }
 
 @media screen and (max-width: 990px) {
     #divFormFormatoFisico .form-register-formato-fisico {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 20px 80px;
     }
 }
 
 @media screen and (max-width: 610px) {
     #divFormFormatoFisico .form-register-formato-fisico {
         display: grid;
         grid-template-columns: 1fr;
         gap: 20px 80px;
     }
 } */

.info-analisis {
    background-color: rgba(220, 220, 220, 0.149);
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.386);
}

#mainAnalisis .title-info {
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    gap: 20px;
    color: whitesmoke;
    background-color: rgb(0, 140, 93);
}


.div-info-analisis div {
    padding: 10px 16px 10px 16px;
    border: 1px solid rgb(205, 205, 205);
}

#mainAnalisis .div-info-analisis div p {
    text-transform: capitalize;
}

#mainAnalisis .title-svg {
    border-radius: 100px;
    padding: 5px 10px 0px 10px;
    background-color: white;
    width: 25px;
}

#mainAnalisis .info-catador>div {
    padding: 20px;
}

#mainAnalisis .icon-ver-encargados {
    background-color: orange;
    font-size: 1.2em;
    font-weight: bolder;
}

#mainAnalisis .button-asignar-analisis {
    background-color: rgb(235, 130, 11) !important;
}

/* #mainAnalisis .div-content-asignar>div {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
} */

#mainAnalisis .section-one-div-content-asignar,
#mainAnalisis .section-two-div-content-asignar {
    display: grid;
    grid-template-columns: 900px 1fr;
    gap: 90px;
}

#mainAnalisis .div-content-asignar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 70px;
    width: max-content;
    max-width: 100%;
    overflow: hidden;
    /* flex-wrap: wrap; */
}

#mainAnalisis .table-asignar .div-table {
    width: 100%;
}

#mainAnalisis .table-asignar .div-filters,
.table-asignar .table-component,
.table-asignar thead,
.table-asignar #inputSearch {
    background-color: #efecec !important;
}

#mainAnalisis .table-asignar {
    width: 1300px;
    max-width: 100%;
    overflow: hidden;
}

#mainAnalisis .modal-table #divContentForm {
    background-color: rgb(255, 255, 255);
    height: max-content;
}

#mainAnalisis .input-global .head-input {
    display: grid;
    grid-template-columns: auto 1fr;
    flex-direction: row;
    gap: 30px;
}

#mainAnalisis
/* .input-global .head-input label{
     
 } */

.div-asign-elements {
    /* width: 850px; */
    flex: none;
}

@media screen and (max-width : 1080px) {
    #mainAnalisis .div-asign-elements {
        width: 100%;
    }

    #mainAnalisis .div-content-asignar {
        flex-direction: column;
    }
}

.fiv-asignar-analisis>div {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.fiv-asignar-analisis {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

#mainAnalisis .div-encargados {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

#mainAnalisis .div-encargados>div {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#mainAnalisis .table-add-asignar {
    width: 100%;
}

#mainAnalisis .table-add-asignar th {
    padding: 10px;
    background-color: orange;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
}

#mainAnalisis .table-add-asignar td {
    padding: 20px;
    text-align: right;
}

#mainAnalisis .table-add-asignar td h4 {
    text-align: left;
}

#mainAnalisis .input-cantidad-formatos {
    width: 70px;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1.4em;
    max-width: calc(100% - 20px);
}

#mainAnalisis .table-add-asignar .svg-icon-quit-table-asing {
    width: 45px;
    fill: red;
    cursor: pointer;
}

#mainAnalisis .button-asing-agregado {
    background-color: gray !important;
    cursor: unset !important;
}

#mainAnalisis .div-encargados .div-table-asignados thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

#mainAnalisis .div-encargados .div-table-nuevos-asignados {
    overflow: auto;
    max-height: 100%;
}

#mainAnalisis .div-encargados .div-table-asignados {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

#mainAnalisis .div-encargados .div-table-asignados::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;
    width: 10px;
}

#mainAnalisis .div-encargados .div-table-asignados::-webkit-scrollbar-thumb {
    background-color: #25337c;
    border-radius: 100px;
}

#mainAnalisis .div-encargados .div-table-asignados td>div {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 30px;
}

#mainAnalisis .button-set-asignar-analisis {
    padding: 10px 20px;
    border: unset;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    cursor: pointer;
    background: rgb(255, 166, 0);
    width: max-content;
}

#mainAnalisis .footer-asignar {
    display: flex;
    justify-content: end;
    flex-direction: row;
    width: 100%;
}

#mainAnalisis .tr-error-table-asignar td {
    padding: 0 !important;
    text-align: center !important;
    border-bottom: 1px solid red;
    background-color: #ff00001f;
}

#mainAnalisis .tr-error-table-asignar td h4 {
    color: red;
    text-align: center !important;
}

#mainAnalisis .head-asignar-analisis {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#mainAnalisis .div-footer-users-formatos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#mainAnalisis .button-users-formatos,
.h4-estado-formato-asing {
    padding: 10px 20px;
    border: unset;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
}

#mainAnalisis .h4-estado-formato-asing {
    padding: 7.5px 20px;
    width: max-content;
    cursor: unset;
}

#mainAnalisis .h4-estado-formato-asing-finalizado {
    background-color: #39b189;
}

#mainAnalisis .h4-estado-formato-asing-asignado {
    background-color: orange;
}

#mainAnalisis .h4-estado-formato-asing-pendiente {
    background-color: gray;
}

#mainAnalisis .h4-estado-formato-asing-registrado {
    background-color: rgb(64, 192, 231);
}

#mainAnalisis .button-users-formatos-cambiar {
    background-color: rgb(41 153 136);
}

#mainAnalisis .button-users-formatos-eliminar {
    background-color: red;
}


#mainAnalisis .catador-no-options-asignar {
    width: calc(100% - 20px);
    padding: 10px;
    color: black;
    border-radius: 4px;
    border: 1px solid rgba(122, 122, 122, 0.368);
}

#mainAnalisis .div-formato-finalizado {
    gap: 20px;
}

#mainAnalisis .div-formato-finalizado div {
    display: flex;
    width: 100%;
}

#mainAnalisis .div-anaisis-finalizado-asignar-formato {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#mainAnalisis .div-anaisis-finalizado-asignar-formato>div {
    display: flex;
    align-items: center;
    gap: 50px;
}

#mainAnalisis .div-anaisis-finalizado-asignar-formato>div h5 {
    font-size: 1.1em;
}

#mainAnalisis .div-anaisis-finalizado-asignar-formato>div h4 {
    font-size: 1.3em;
}

#mainAnalisis .div-content-asignar-info {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 1000px;
    max-width: 100%;
}

#mainAnalisis .div-content-asignar h2 {
    font-size: 1.9em;
}

#mainAnalisis .body-asignar-analisis {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#mainAnalisis .div-table-asing {
    overflow: hidden;
    width: 100%;
}

#mainAnalisis .span-width-errors {
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 10px;
}

#mainAnalisis .span-width-errors h3 {
    color: red;
}

#mainAnalisis .span-message-alerta {
    margin-bottom: 20px;
}

#mainAnalisis .h4-tipo-analisis {
    padding: 10px;
    width: 80px;
    max-width: 100%;
    text-align: center;
    color: white;
    border-radius: 4px;
}

#mainAnalisis .h4-tipo-analisis-fisico {
    background-color: rgb(246, 106, 109);
}

#mainAnalisis .h4-tipo-analisis-sca {
    color: rgb(255, 255, 255);
    background-color: rgb(252, 201, 80);
}

#mainAnalisis .estado-no-pointer {
    cursor: unset;
}

#mainAnalisis #mainGlobalInput {
    width: 100%;
}

#mainAnalisis .estado-0,
.estado-1,
.estado-2,
.estado-3,
.estado-4,
.estado-5 {
    width: max-content;
    /* max-width: max-content; */
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    color: white;
    cursor: pointer;
}

#mainAnalisis .estado-table {
    width: 70px;
}

#mainAnalisis .estado-0 {
    background-color: red;
}

#mainAnalisis .estado-1 {
    background-color: green;
}

#mainAnalisis .estado-2 {
    background-color: gray;
}

#mainAnalisis .estado-3 {
    background-color: orange;
}

#mainAnalisis .estado-4 {
    background-color: #57b394;
}

#mainAnalisis .estado-5 {
    background-color: rgb(64, 192, 231);
}

#mainAnalisis .estado-no-pointer {
    cursor: unset;
}

#mainAnalisis .div-change-muestra {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#mainAnalisis .div-muestra-change {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#mainAnalisis .div-estado-muestra-asign {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
}

#mainAnalisis .div-informacion-finalizado-asignar-formato {
    display: flex !important;
    flex-direction: column !important;
    justify-content: unset !important;
    align-items: unset !important;
}

#mainAnalisis .table-add-asignar td>div {
    justify-content: center;
    display: flex;
    /* align-items: center; */
    height: 100%;
}



@media screen and (max-width : 1800px) {
    #mainAnalisis .section-two-div-content-asignar {
        grid-template-columns: 1fr;
        grid-template-rows: 600px auto;
        overflow: hidden;
        height: max-content;
    }

    #mainAnalisis .div-content-form,
    #mainAnalisis .div-content-asignar {
        max-width: 100%;
    }

    #mainAnalisis .div-asign-elements {
        width: 100%;
        overflow: hidden;
    }

    #mainAnalisis .fiv-asignar-analisis>div {
        display: grid;
        grid-template-rows: 1fr auto;
        gap: 0px 30px;
        overflow: hidden;
        height: 100%;
    }

    #mainAnalisis .fiv-asignar-analisis,
    #mainAnalisis .fiv-asignar-analisis>div {
        overflow: hidden;
        height: 100%;
    }

    #mainAnalisis .body-asignar-analisis {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        overflow: hidden;
    }

    #mainAnalisis .div-encargados {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        height: 100%;
        overflow: hidden;
    }

    #mainAnalisis .div-encargados>div {
        height: 100%;
        display: grid;
        overflow: hidden;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    #mainAnalisis .div-encargados-actuales>div {
        width: 750px;
    }

    #mainAnalisis .div-encargados .div-table-nuevos-asignados {
        height: 100%;
    }

    #mainAnalisis .div-table-nuevos-asignados .table-add-asignar td {
        padding: 18px;
    }
}

@media screen and (max-width : 2020px) {
    #mainAnalisis .section-one-div-content-asignar {
        grid-template-columns: 1fr;
    }

    #mainAnalisis .div-encargados-actuales>div {
        width: 550px;
        max-width: 100%;
    }

    #mainAnalisis .div-encargados-actuales {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width : 1100px) {
    #mainAnalisis .div-encargados {
        display: flex;
        flex-direction: column;
    }

    #mainAnalisis .section-two-div-content-asignar {
        grid-template-columns: 1fr;
        grid-template-rows: 1100px auto;
        overflow: hidden;
        height: max-content;
    }
}

@media screen and (max-width : 540px) {

    #mainAnalisis .div-footer-users-formatos h4,
    #mainAnalisis .div-footer-users-formatos button {
        max-width: 100%;
        word-wrap: break-word;
        word-break: break-all;
        width: 130px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mainAnalisis  .input-global .head-input,
    #mainAnalisis .div-muestra-change>div {
        flex-wrap: wrap;
        display: flex;
    }

    #mainAnalisis .div-footer-users-formatos {
        flex-direction: column;
        gap: 10px;
    }
}

#mainAnalisis .div-icon-reporte-pdf-none{
    filter:grayscale(10);
}