.modal-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.div-fondo-modal-form {
    background-color: rgba(10, 10, 10, 0.435);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.div-form {
    background-color: white;
    display: flex;
    grid-template-columns: 1fr;
    gap: 45px;
    width: 444px;
    border-radius: 8px;
    position: relative;
    z-index: 999999;
    
    justify-content: center;
    align-items: center;
    max-width: 100%;

}

.tittle-form-register {
    word-break: break-all;
    font-size: 2em;
}

.form-register {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    gap: 15px 20px;
    width: 100%;
}

.input-form {
    padding: 8px 15px;
    font-size: 1.1em;
    border-radius: 4px;
    border: unset;
    background-color: rgb(227, 242, 247);
    width: calc(100% - 30px);
    color: rgb(148, 164, 184);
}

.input-form:focus {
    outline: none;
}

.input-content-form-register {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.input-email {
    grid-column-start: 1;
    grid-column-end: 3;
}

.label-from-register {
    font-weight: 700;
    font-size: 1.1em;
    word-break: break-all;
}

.button-submit-form {
    padding: 12px;
    border-radius: 4px;
    border: unset;
    background-color: rgb(31, 41, 55);
    color: white;
    font-size: 1.1em;
    font-weight: bolder;
    cursor: pointer;
    ;
}

.div-div-input-submit-form {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    grid-column-start: 1;
    grid-column-end: 3;
}

.label-error-submit-form {
    color: red;
    font-size: 0.7em;
    height: 30px;
}

.icon-quit-svg-form {
    width: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-quit-svg-form:hover {
    background-color: rgba(150, 149, 149, 0.358);
}

.header-form {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.div-select {
    font-size: 0.9em;
    width: calc(100%);
    height: auto;
    word-break: break-all;
}

.input-select {
    padding: 11.5px 0px 11.5px 15px;
    font-size: 0.8em;
    border-radius: 4px;
    border: unset;
    background-color: rgb(255, 255, 255);
    width: calc(100% - 15px);
    color: rgb(148, 164, 184);
}

.input-select-search {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0;
}

.input-select:focus {
    outline: none;
}

.icon-chevron-estado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.opciones-input-select {
    padding-left: 10px;
    width: calc(100% - 30px);
}

.option-focus {
    background-color: rgba(106, 106, 106, 0.129);
}

.div-content-form {
    z-index: 99999;
    background-color: white;
    border-radius: 4px;
    width: max-content;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; */
    padding: 30px;
    max-width: calc(100% - 100px);
    height: max-content;
}

.div-body-form {
    width: max-content;
    max-width: 100%;
    display: flex;
    gap: 30px;
}

.img-form {
    height: auto;
    width: 100%;
    border-radius: 4px;
}

.div-img-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
}
.head-input{
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media screen and (max-width : 670px) {
    .div-img-form {
        display: none;
    }
}
@media screen and (max-width : 450px) {
    .form-register { 
        grid-template-columns: 1fr;
    }
    .input-email{
        grid-column-start: auto;
        grid-column-end: auto;
    }
}
