#mainModalForm .modal-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.519);
}

#mainModalForm .div-fondo-modal-form {
    background-color: rgba(10, 10, 10, 0.435);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

#mainModalForm .div-form {
    background-color: white;
    display: flex;
    grid-template-columns: 1fr;
    gap: 45px;
    width: 444px;
    border-radius: 8px;
    position: relative;
    z-index: 999999;

    justify-content: center;
    align-items: center;
    max-width: 100%;

}

#mainModalForm .tittle-form-register {
    word-break: break-all;
    font-size: 2em;
}

#mainModalForm .form-register {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    gap: 15px 20px;
    width: 100%;
}

#mainModalForm .input-form {
    padding: 8px 15px;
    font-size: 1.1em;
    border-radius: 4px;
    border: unset;
    background-color: rgb(227, 242, 247);
    width: calc(100% - 30px);
    color: rgb(148, 164, 184);
}

#mainModalForm .input-form:focus {
    outline: none;
}

#mainModalForm .input-content-form-register {
    display: flex;
    flex-direction: column;
    height: max-content;
}

#mainModalForm .input-email {
    grid-column-start: 1;
    grid-column-end: 3;
}

#mainModalForm .label-from-register {
    font-weight: 700;
    font-size: 1.1em;
    word-break: break-all;
}

#mainModalForm .button-submit-form {
    padding: 12px;
    border-radius: 4px;
    border: unset;
    background-color: rgb(31, 41, 55);
    color: white;
    font-size: 1.1em;
    font-weight: bolder;
    cursor: pointer;
    ;
}

#mainModalForm .div-div-input-submit-form {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    grid-column-start: 1;
    grid-column-end: 3;
}

#mainModalForm .label-error-submit-form {
    color: red;
    font-size: 0.7em;
    height: 30px;
}

#mainModalForm .icon-quit-svg-form {
    width: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#mainModalForm .icon-quit-svg-form:hover {
    background-color: rgba(150, 149, 149, 0.358);
}

#mainModalForm .header-form {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

#mainModalForm .div-select {
    font-size: 0.9em;
    width: calc(100%);
    height: auto;
    word-break: break-all;
}

#mainModalForm .input-select {
    padding: 11.5px 0px 11.5px 15px;
    font-size: 0.8em;
    border-radius: 4px;
    border: unset;
    background-color: rgb(255, 255, 255);
    width: calc(100% - 15px);
    color: rgb(148, 164, 184);
}

#mainModalForm .input-select-search {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0;
    width: 100%;
}

#mainModalForm .input-select:focus {
    outline: none;
}

#mainModalForm .icon-chevron-estado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

#mainModalForm .opciones-input-select {
    padding-left: 10px;
    width: calc(100% - 30px);
}

#mainModalForm .option-focus {
    background-color: rgba(106, 106, 106, 0.129);
}

#mainModalForm .div-content-form {
    z-index: 99999;
    background-color: white;
    border-radius: 4px;
    width: max-content;
    /* display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: auto 1fr; */
    padding: 30px;
    max-width: calc(100% - 100px);
    height: max-content;
}

#mainModalForm .div-body-form {
    width: max-content;
    max-width: 100%;
    display: flex;
    gap: 30px;
}

#mainModalForm .img-form {
    height: auto;
    width: 100%;
    border-radius: 4px;
}

#mainModalForm .div-img-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
}

#mainModalForm .head-input {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media screen and (max-width : 670px) {
    #mainModalForm .div-img-form {
        display: none;
    }
}

@media screen and (max-width : 450px) {
    #mainModalForm .form-register {
        grid-template-columns: 1fr;
    }

    #mainModalForm .input-email {
        grid-column-start: auto;
        grid-column-end: auto;
    }
}

#mainModalForm .filter-estado {
    height: 100%;
    border: 1px solid rgba(122, 122, 122, 0.368);
    border-radius: 4px;
    color: rgba(122, 121, 121, 0.618);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

#mainModalForm .opciones {
    position: absolute;
    top: 100%;
    border: 1px solid rgba(122, 122, 122, 0.368);
    background-color: white;
    width: calc(100% - 40px);
    padding: 5px 20px;
    border-radius: 0px 0px 4px 4px;
    max-height: 110px;
    overflow: auto;
    z-index: 9;
}

#mainModalForm .select-option {
    border-radius: 4px;
    padding: 7px 5px;
    cursor: pointer;
    font-size: 0.8em;
}

#mainModalForm .select-option:hover {
    background-color: rgba(181, 181, 181, 0.477);
}

#mainModalForm .icon-chevron-estado {
    width: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}