.modal-form {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.321);
}

#mainGlobalForm .div-form {
    background-color: white;
    display: flex;
    grid-template-columns: 1fr;
    gap: 45px;
    width: 444px;
    border-radius: 8px;
    position: relative;
    z-index: 999999;

    justify-content: center;
    align-items: center;
    max-width: 100%;

}

#mainGlobalForm .div-content-form {
    z-index: 99999;
    background-color: white;
    border-radius: 4px;
    width: max-content;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; */
    padding: 30px;
    max-width: calc(100% - 100px);
    height: max-content;
    position: relative;
}

#mainGlobalForm .div-body-form {
    width: max-content;
    max-width: 100%;
    display: flex;
    gap: 30px;
    position: relative;
}

#mainGlobalForm .icon-quit-svg-form {
    width: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

#mainGlobalForm .icon-quit-svg-form:hover {
    background-color: rgba(150, 149, 149, 0.358);
}

#mainGlobalForm .input-register {
    padding: 8px 15px;
    font-size: 1em;
    border-radius: 4px;
    border: unset;
    background-color: green;
    width: max-content;
    max-width: 100%;
    word-wrap: break-word;
    color: white;
    cursor: pointer;
}

@media screen and (max-width : 900px) {
    #mainGlobalForm .div-content-form {
        max-width: calc(100% - 30px);
        padding: 15px;
    }
}

