.graphicBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.barra{
    background-color: rgb(237, 155, 47);
    box-shadow: 0px 0px 7px rgb(120, 120, 213);
}
.contentGraphic{
    display: flex;
}
.title-graphic{
    color:gray;
    font-weight: bolder;
    font-size: 2em;
    text-shadow: rgb(241, 235, 235) 1px 5px ;
    text-transform: uppercase;
    padding: 5px;
}

.BoxOptions{
    width: max-content;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    
}
.BoxOptions:hover{
    background-color: rgba(123, 124, 124, 0.542);
    border-radius: 7px;
    padding-right: 10px;
}
.colors{
    width: 1.5rem;
    height: 1.5rem;
    margin: 5px;
}
.extraordinario{
    background-color: rgb(244, 50, 50)
}
.excelente{
    background-color: #4ec74e;
}   
.MyBueno{
    background-color: rgb(39, 11, 174);
}
.bueno{
   background-color: rgb(255, 174, 0);
}
.barras{
    width: 20px !important;
    height: 10%;
}

.BocCharts{
    width: '1000px';
    height: '500px';
}
