.graphicBox{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra{
    background-color: rgb(237, 155, 47);
    box-shadow: 0px 0px 7px rgb(120, 120, 213);
}
.Tablecolors{
    width: 15rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
.BoxOptions{
    width: max-content;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    
}
.BoxOptions:hover{
    background-color: rgba(123, 124, 124, 0.542);
    border-radius: 7px;
    padding: 2px 15px;
    transition: padding 0.3s ;
}
.colors{
    width: 1.5rem;
    height: 1.5rem;
    margin: 5px;
}
.extraordinario{
    background-color: rgb(244, 50, 50)
}
.excelente{
    background-color: #4ec74e;
}   
.MyBueno{
    background-color: rgb(39, 11, 174);
}
.bueno{
   background-color: rgb(255, 174, 0);
}