* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#mainLogin input {
  color: rgb(67, 67, 67);
  background-color: transparent;
}

#mainLogin img {
  height: 100%;
  width: 100%;
}

#mainLogin .title-login {
  font-weight: bold;
  color: rgb(5, 150, 105);
  font-size: 1.9em;
  margin-bottom: 40px;
}

#mainLogin {
  background-image: url('../img/login/bg-login-2.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#mainLogin .bg-img {
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  position: absolute;
}

#mainLogin .login-container {
  box-shadow: 0px 0px 16px 0px rgb(88, 88, 88);
  z-index: 1;
  background-color: white;
  padding: 7px 7px 7px 0px;
  border-radius: 7px;
  display: grid;
  grid-template: 550px/ 1fr 1fr;
  width: 750px;
  justify-content: center;
  align-items: center;
}

#mainLogin .login-image-container {
  height: 100%;
  width: 100%;
}

#mainLogin .login-image {
  transform: scaleX(-1);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

#mainLogin .login-form-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainLogin .login-form {
  padding: 0px 23px 0px 23px;
  background-color: white;
  transition: margin-bottom 0.5s, opacity 0.1s;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

#mainLogin .container-inputs {
  position: relative;
}

#mainLogin .container-inputs-span {
  position: absolute;
  color: rgb(53, 168, 150);
  padding: 0px 5px 0px 5px;
  background-color: white;
  margin-top: -10px;
  font-size: 12px;
  margin-left: 10px;
  transition: all 0.1s;
}

#mainLogin .span-input {
  transition: all 100ms ease-in;
  color: rgb(172, 172, 172);
  visibility: hidden;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 11px;
}

#mainLogin .login-form input {
  font-size: 0.9em;
  width: calc(100% - 30px);
  outline: unset;
  padding: 15px;
  border: none;
  /* background-color: rebeccapurple; */
  /* border-radius: 3px; */
  /* border: 1px solid #ccc; */
}

#mainLogin .input-password {
  width: 72% !important;
}

#mainLogin .login-form input::placeholder {
  font-size: 1.1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(155, 155, 155)
}

#mainLogin .login-form button {
  font-weight: bolder;
  font-size: 0.9em;
  padding: 15px;
  margin-top: 15px;
  background-color: green;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  letter-spacing: 1px;
}

#mainLogin .login-form button:hover {
  box-shadow: 0px 0px 4px 0px rgb(158, 158, 158);
  background: radial-gradient(rgb(12, 90, 12), rgb(42, 166, 42));
}

/* Error validation */
#mainLogin .credentials-error {
  position: absolute;
  bottom: -20px;
  font-size: 0.7em;
  color: orangered;
}

#mainLogin .input-error {
  box-shadow: 0px 0px 3px 1px rgb(238, 125, 44) inset;
  transition: box-shadow 0.2s ease-in;
  /* border: 10px solid red; */
}

#mainLogin .eyes-container {
  position: absolute;
  top: calc(0px + 2px);
  left: 83%;
  cursor: pointer;
  height: calc(100% - 4px);
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

#mainLogin .eyes-container svg {
  width: 24px;
  /* top: 2px; */
  position: relative;
}

#mainLogin .eyes-closed {
  position: relative;
  top: 4px;
  width: 47px !important;
}

#mainLogin .container-input {
  border-radius: 3px;
  border: 0.2px solid #ccc;
}

#mainLogin .recover-password {
  font-weight: 600;
}

#mainLogin .recover-password p {
  margin-top: 8px;
  width: max-content;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.85em;
  text-decoration: none;
  font-weight: 400;
  color: rgb(0, 0, 152);
}

#mainLogin .recover-password p:hover {
  background-color: #eaeaea;
  color: rgb(0, 0, 152);
}

#mainLogin .recoveryForm {
  z-index: -1;
  display: none;
}

#mainLogin .text-recovery {
  margin-bottom: 0px;
}

#mainLogin .text-info {
  box-shadow: 0px 0px 3px rgba(0, 128, 49, 0.656);
  color: rgb(49, 49, 49);
  padding: 10px;
  font-size: 0.8em;
  border-radius: 10px;
  background-color: rgb(249, 249, 249);
}

#mainLogin .container-loader {
  padding: 15px;
  margin-bottom: 25px;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
}

#mainLogin .container-loader-mini {
  /* z-index: 1; */
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ccc;
  border-radius: 50%;
}

#mainLogin .loader-bold {
  position: absolute;
  /* padding: 2px !important; */
  width: 6px;
  height: 9px;
  background-color: rgb(29, 164, 70);
  border-radius: 4px;
  animation: orbit 1s linear infinite;
}


@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(5px);
  }

  to {
    transform: rotate(360deg) translateX(5px);
  }
}


@media screen and (max-width:760px) {
  #mainLogin .login-container {
    width: 90%;
    grid-template: 490px/ 1fr 0fr;
    /* padding: 50px 0px; */
  }

  #mainLogin .title-login {
    margin-bottom: 0;
    text-align: center;
  }
}

@media screen and (max-width:400px) {
  #mainLogin .title-login {
    font-size: 1.4em;
  }

  #mainLogin .login-container {
    grid-template: 450px/ 1fr 0fr;
  }

  #mainLogin .login-form input {
    font-size: 0.8em;
  }

  #mainLogin .eyes-container {
    width: 35px;
  }

  #mainLogin .svg-eyes-two svg {
    width: 17px;
  }

}