* {
    padding: 0;
    margin: 0;
}


/* Estilos para general */
.main-content {
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

body {
    background-color: rgb(243, 243, 244);
    height: calc(100%);
    width: calc(100%);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
}

/* Estilos para menu de navegacion */


/* Estilos para nav-vertical */
.nav-horizontal {
    left: 100%;
    /* background-color: rgb(31, 41, 55); */
    padding: 25px 0px;
    width: 240px;
    height: calc(100% - 50px);
    left: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
    position: relative;

}

.nav-main a {
    font-weight: 500;
    text-decoration: none;
}


.nav-horizontal>ul {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 10px;
}

.nav-horizontal>ul::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 10px;
}

.nav-horizontal>ul::-webkit-scrollbar-thumb {
    background-color: rgb(11, 46, 75);
    border-radius: 4px;

}

.nav-main .img-logo-nav {
    width: 50px;
    border-radius: 4px;
}

.nav-main .div-header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main .title-header-nav-horizontal {
    font-size: 1em;
}

.nav-main .header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    align-items: center;
    width: calc(100% - 20px);
}

.nav-horizontal ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-horizontal ul li ul li,
.nav-main .footer-nav li {
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-horizontal ul li ul a {
    border-radius: 2px;
}

.nav-main .footer-nav li {
    width: max-content;
}

.nav-main .footer-nav ul {
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main .footer-nav {
    display: flex;
    justify-content: center;
}

.nav-horizontal ul li ul a:hover,
.nav-main .footer-nav li:hover {
    background-color: rgb(102, 122, 138);
}

.nav-main .icon-li-nav-horizontal {
    width: 25px;
    fill: white;

}

.nav-main .title-li {
    padding: 0px 0px 20px 0px;
}

.nav-main .icon-li-dark-mode-nav-horizontal {
    fill: white;
    width: 20px;
}

.nav-main .toogle-footer-nav-horizontal {
    width: 44px;
    height: 18px;
    border-radius: 100px;
    padding: 4px;
    background-color: rgb(38, 85, 126);
    display: flex;
    align-items: center;
}

.nav-main .footer-nav .li-dark-mode-nav-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-main .footer-nav .li-dark-mode-nav-horizontal:hover {
    background-color: unset;
}

.nav-main .circle-footer-nav-horizontal {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
    transition: margin 0.5s;
}

.nav-main .content-1-footer-nav-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-main .icon-moon-li-dark-mode-nav-horizontal {
    rotate: -10deg;
    transform: rotate(-10deg);
}

.nav-main .link-memu-horizontal {
    color: white;
}

.nav-main .link-memu-horizontal:hover {
    color: white;
}

.footer-nav ul {
    border-top: 1px solid white;
    padding: 20px 0px 0px 0px;
}

.nav-main .line-nav-li {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.nav-main .icon-hamburguer-li-nav-horizontal {
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
}

.nav-main .icon-hamburguer-li-nav-horizontal:hover {
    background-color: rgb(102, 122, 138);
}

.nav-main .selected-li {
    background-color: rgb(60, 77, 100);
}

/* Estilos para nav Horizontal */

.nav-vertical {
    left: 100%;
    background-color: rgb(255, 255, 255);
    left: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px 50px;
    border-bottom: 2px solid rgb(227, 227, 228);
    color: black;
}

.contenido {
    color: black;
    overflow: auto;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgb(234, 241, 243);
}

.nav-main .component {
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
    max-width: 1300px;
    height: max-content;
    position: relative;
}

.nav-main .seccion-usuario-notificaciones {
    display: flex;
    position: relative;
    gap: 20px;
}

.nav-main .div-info-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-main .notificaciones {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main .icono-notificaciones {
    width: 35px;
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
}

.nav-main .icono-notificaciones:hover {
    background-color: rgba(212, 210, 210, 0.235)
}

.nav-main .secccion-notificaciones {
    position: relative;
}

.nav-main .cantidad-notificaciones {
    background-color: orange;
    padding: 3px;
    height: 14px;
    width: 14px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 0.8em;
    border-radius: 100%;
    top: 2px;
    left: 8px;
    color: white;
    font-weight: bolder;
}

.nav-main .esquina-notificaciones {
    position: absolute;
    border-top: 0px solid transparent;
    border-bottom: 10px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 50%;
    z-index: 10;
    top: calc(100% - 6px);
}

.nav-main .contenido-notificaciones {
    width: 400px;
    min-width: max-content;
    height: max-content;
    max-height: 420px;
    background-color: white;
    position: absolute;
    right: 0%;
    border-radius: 8px;
    border: 1px solid rgb(234, 234, 234);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    z-index: 9;
    top: 120%;
}

.nav-main .header-notificaciones {
    padding: 20px 25px;
    border-bottom: 1px solid rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
}

.nav-main .titulo-notififcaciones {
    font-size: 1em;
    color: black;

}

.nav-main .quit-notificaciones {
    color: black;
    padding: 8px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.nav-main .quit-notificaciones:hover {
    background-color: rgba(3, 3, 3, 0.326);
}

.nav-main .contenido-analisis {
    padding: 25px 20px 25px 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main .notificacion-analisis {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.nav-main .notificacion-analisis:hover {
    background-color: rgba(170, 170, 170, 0.235);
    border-radius: 8px;
}

.nav-main .h4-informacion-notificacion-analisis {
    color: black;
}

.nav-main .informacion-analisis {
    display: flex;
    gap: 20px;
}

.nav-main .asignaciones-notificaciones {
    overflow: auto;
    height: 100%;
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.nav-main .asignaciones-notificaciones::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(31, 41, 55);
    border-radius: 8px;
}

.nav-main .asignaciones-notificaciones::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 8px;
}

.nav-main .img-analisis {
    width: 60px;
    border-radius: 8px;
}

.nav-main .asignado,
.nav-main .pendiente {
    padding: 4px;
    border-radius: 4px;
}

.nav-main .asignado {
    background-color: orange;
}

.nav-main .pendiente {
    background-color: gray;
}

.nav-main .input-proceder-analisis {
    width: 60%;
    padding: 8px 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(51, 67, 87);
    border: unset;
    border-radius: 4px;
}

.nav-main .input-proceder-analisis:hover {
    background-color: rgb(26, 33, 45)
}

.nav-main .h4-notificaciones-vacias {
    color: rgb(141, 141, 141);
    text-align: center;
}

.nav-main .section-opciones-usuario {
    position: relative;
}

.nav-main .icon-opciones-usuario {
    width: 20px;
    fill: black;
    padding: 6px;
    cursor: pointer;
    position: relative;
}

.nav-main .contenido-opciones-usuario {
    width: max-content;
    min-width: max-content;
    height: max-content;

    position: absolute;
    right: 0%;
    overflow: hidden;
    z-index: 99;
    color: black;
    top: calc(100% + 9px);
}

.nav-main .esquina-opciones-usuario {
    position: absolute;
    border-top: 0px solid transparent;
    border-bottom: 10px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 50%;
    z-index: 100;
    top: calc(100% + 1px);
}

.nav-main .opciones-usuario {
    padding: 10px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 234);
    border-radius: 8px;

}

.nav-main .link-opciones-usuarios {
    color: black;
    font-size: 0.8em;
}

.nav-main .li-opciones-usuario {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;

}

.nav-main .li-content-usuarios {
    display: flex;
    gap: 10px;
}

.nav-main .li-opciones-usuario:hover {
    background-color: rgb(30, 41, 59);
}

.nav-main .selected-li-perfil {
    background-color: rgb(30, 41, 59);
    fill: white;
}

.nav-main .selected-li-perfil .link-opciones-usuarios {
    color: white;
    fill: white;
    display: flex;
}

.nav-main .li-opciones-usuario:hover .link-opciones-usuarios,
.nav-main .li-opciones-usuario:hover .icon-li-opciones-usuario {
    color: white;
    fill: white;
}

.nav-main .icon-li-opciones-usuario {
    width: 20px;
}

.nav-main .nombre-usuario {
    font-size: 1.1em;
}

.nav-main .rol-usuario {
    font-size: 0.7em;
}

.div-img-perfil-nav {
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    flex: none;
}

.div-img-perfil-nav img {
    width: 100%;
    height: 100%;
}

.btn-cerrar-sesion {
    border: none;
}

.nav-horizontal h1,
.nav-horizontal h2,
.nav-horizontal h3,
.nav-horizontal h4,
.nav-horizontal h5,
.nav-horizontal h6 {
    color: white;
}

#navHorizontal {
    transition: width 0.5s;
}

.div-img-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img-nav {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    filter: blur(3px);

}

.logo-menu {
    width: 75px;
    bottom: 0;
    position: absolute;


}

.nav-main .selected-li svg {
    fill: black;
}

@media screen and (max-width:610px) {
    .paginate {
        flex-wrap: wrap;
    }

    .nav-main .header-nav {
        width: auto;
    }

    .main-content {
        grid-template-columns: 1fr;
    }

    #navHorizontal {
        position: absolute;
        z-index: 9;
        right: 0;
        transition: transform 0.5s;
    }

    .nav-vertical {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px 10px;

    }

    #iconHamburguer {
        fill: black;
    }

    #iconHamburguer:hover {
        background-color: #00000012;
    }

    .header-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-bottom: 0 !important;
    }
}