.text-recover{
    font-size: 1.56em;
    color: rgb(34, 86, 198);
}

.main-container {
    background-image: url('../img/recover/recover-size.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-form button{
    background-color: rgb(19, 0, 128);
}

.login-form button:hover {
    box-shadow: 0px 0px 4px 0px rgb(158, 158, 158);
    background: radial-gradient(rgb(26, 12, 90), rgb(42, 59, 166));
  }