* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenido {
    display: unset;
}

.component>div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-table {
    width: max-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table-component {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    color: gray;
    font-size: 0.9em;
    font-weight: lighter;
    height: max-content;
    max-height: 10px;
    overflow: auto;
}

.table-component th,
.table-component td {
    text-align: left;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(103, 103, 103, 0.241);

}

.table-component thead {
    position: sticky;
    top: 0;
    padding-top: 20px;
    background-color: white;
    z-index: 1;
}

.table-component .items-header-table {
    display: flex;
    gap: 15px;
    align-items: center;
}

.estado-0,
.estado-1,
.estado-2 {
    width: 70px;
    max-width: 100px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.estado-0 {
    background-color: red;

}

.estado-1 {
    background-color: green;
}

.estado-2 {
    background-color: gray;
}

.table-component .table-error {
    padding: 20px;
    text-align: center;
    border-bottom: unset;
}

.table-attribute-no-registra {
    color: rgba(156, 156, 156, 0.831);
}

.item-options {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    background-color: transparent;
    border: none;

}

.btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-disabled:hover {
    background-color: transparent !important;
}

.center-update {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-options svg {
    font-weight: bolder;
}

.item-options:hover {
    background-color: rgba(209, 209, 209, 0.687);
}

.option-update {
    fill: rgb(48, 53, 103);
}

.div-filters {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    width: calc(100% - 40px);
    border-radius: 8px;
   /*  display: grid;
    grid-template-columns: 1fr auto; */
    align-items: center;
    height: max-content;
}

.input-search {
    border: unset;
    padding: 0px 10px 0px 0px;
    font-size: 0.8em;
    background-color: white;
    height: calc(100%);
}

.input-search:focus {
    outline: none;
}

.icon-search {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-search svg {
    height: 70%;
    width: 70%;
}

.filters-search {
    border: 1px solid rgba(122, 122, 122, 0.368);
    border-radius: 4px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    width: max-content;
    height: 100%;
}

.content-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: max-content;
    position: relative;
    flex-wrap: wrap;
}

.filter-estado {
    height: 100%;
    border: 1px solid rgba(122, 122, 122, 0.368);
    border-radius: 4px;
    width: 150px;
    color: rgba(122, 121, 121, 0.618);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-select-estado {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;

}

.icon-chevron-estado {
    width: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.opciones {
    position: absolute;
    top: 100%;
    border: 1px solid rgba(122, 122, 122, 0.368);
    background-color: white;
    width: calc(100% - 40px);
    padding: 5px 20px;
    border-radius: 0px 0px 4px 4px;
    max-height: 110px;
    overflow: auto;
    z-index: 9;
}

.select-option {
    border-radius: 4px;
    padding: 7px 5px;
    cursor: pointer;
    font-size: 0.8em;
}

.select-option:hover {
    background-color: rgba(181, 181, 181, 0.477);
}

.filter-asc-desc {
    width: 20px;
    cursor: pointer;
    padding: 3px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: rotate 0.3s;
    flex: none;
}

.filter-asc-desc:hover {
    background-color: rgba(128, 128, 128, 0.4);
}

.paginate {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.item-paginate-round {
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    width: max-content;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 97, 227);
    font-weight: bolder;
    cursor: pointer;
}

.item-paginate-focus {
    background-color: rgb(0, 97, 227);
    color: white;
}

.chevron-paginate {
    width: 15px;
    cursor: pointer;
}

.div-points-paginate {
    display: flex;
    gap: 3px;
}

.points-paginate {
    background-color: rgb(0, 97, 227);
    width: 6px;
    height: 6px;
    border-radius: 100%;
}

.div-paginate {
    display: flex;
    justify-content: space-between;
}

.items-overflow-paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    gap: 5px;

}

.content-table {
    height: 850px;
    max-height: 60vh;
    overflow-x: hidden;
    position: relative;
}

.limit-registers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.limit-filter {
    width: 60px;
}

.opciones-limit-filter {

    padding-right: 10px;
    padding-left: 10px;
    width: calc(100% - 20px);
}

.select-option-limit-filter {
    display: flex;
    justify-content: center;
}

.div-tittle {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.button-register-table {
    padding: 5px 10px;
    background-color: rgb(11, 46, 75);
    border-radius: 4px;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    cursor: pointer;
    border: unset;
}

.new-tr-table>td>div>div {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.new-tr-table {
    background-color: #0000000f;
}

.div-svg-plus-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-plus-table {
    width: 20px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.svg-plus-table:hover {
    background-color: #00000029;
}

.new-div-table {
    overflow: hidden;
    transition: all 0.5s;
}

.new-tr-table {
    display: none;
}

.new-tr-table td {
    border: unset;
}

.new-div-table>div {
    border-bottom: 1px solid #e7e1e1;
}

.new-div-table td h4:not(.estado-1, .estado-0, .estado-2) {
    color: black;
    font-weight: 400;
}

.load-table {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 4;
}

.new-div-table .button-table-normal,
.new-div-table .estado-1,
.new-div-table .estado-2,
.new-div-table .estado-3,
.new-div-table .table-attribute-button-condition {
    width: 100px;
    height: unset;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1220px) {

    .div-filters {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
    }

    .content-filters {
        justify-content: unset;
        flex-wrap: wrap;
        height: max-content;
    }
}

.table-attribute-button-condition {
    width: max-content;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: unset;
    background-color: green;
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
    cursor: pointer;
    max-width: 100%;
}

.button-false-procedure {
    padding: 10px;
    background-color: rgba(162, 162, 162, 0.397);
    font-size: 1.1em;
    width: 100%;
    border-radius: 4px;
    color: rgb(159, 159, 159);
    cursor: unset;
    max-width: calc(100% - 20px);
    text-align: center;
}

.div-generar-documento {
    position: relative;
}

.div-input-documento {
    top: 160%;
    position: absolute;
    z-index: 99;
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 8px;
    width: 500px;
}

.div-input-documento form {
    gap: 40px;
    display: flex;
    flex-direction: column;
}


.title-reporte-group {
    font-size: 1.1em;
}

.div-body-reporte label {
    font-size: 0.8em;
}

.div-body-reporte>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-body-reporte {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.div-input-documento .content-div-inputs-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.button-get-reporte {
    padding: 5px;
    border-radius: 4px;
    border: unset;
    color: white;
    font-weight: bolder;
    width: 100px;
    max-width: 100%;
    cursor: pointer;
}

.get-repote-pdf {
    background-color: red;
}

.get-repote-excel {
    background-color: green;
}

.footer-get-reporte {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.input-date {
    width: calc(100% - 30px);
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid rgba(122, 122, 122, 0.368);
    cursor: pointer;
}

.input-date:focus {
    outline: none;
}

/* .td-table-print {
    word-break: break-all;
} */

.limit-generate-documento {
    width: 100%;
}

.limit-generate-documento {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.limit-generate-documento-maximo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.div-input-limit-generate-documento {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.div-input-limit-generate-documento>div {
    flex-direction: unset;
    gap: 30px;
    align-items: center;
}

.div-input-limit-generate-documento input {
    width: unset;
}

.div-hasta-limit-generate-documento h4 {
    background-color: rgb(255, 146, 4);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    color: white;
    border-radius: 4px;
    font-weight: bolder;
}

.div-td-inputs-table {
    display: flex;
    gap: 5px;
    width: max-content;
    width: 100%;
    flex-wrap: wrap;
}

.button-table-normal {
    width: 100px;
    max-width: 100%;
/*     word-wrap: break-word;
    word-break: break-all; */
}



@media screen and (max-width:610px) {
    .paginate {
        flex-wrap: wrap;
    }

}

@media screen and (max-width:240px) {
    .filter-estado .input-select-estado {
        width: calc(100% - 10%) !important;
        font-size: 0.7em;
    }

    #footerNav h4 {
        display: none !important;
    }

    .div-info-usuario .info-usuario {
        display: none;
    }

    .nav-main .contenido-opciones-usuario {
        position: fixed;
        right: unset;
        left: unset;
        top: 6.2%;
        left: 0;
        width: calc(100% - 20px);
        padding: 10px;
    }

    .contenido {
        padding: 10px;
    }

    .new-tr-table>td>div>div {
        font-size: 0.7em;
    }
}

@media screen and (max-width:320px) {
    .div-info-usuario .div-img-perfil-nav {
        display: none;
    }

    .new-tr-table td {
        width: 100%;
    }

    .new-tr-table h4,
    .new-tr-table button {
        width: calc(100% - 20px);
    }

    .new-tr-table button svg {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:280px) {

    .div-filters .div-tittle,
    .div-filters .content-filters>div {
        flex-direction: column;
    }

    #inputSearch {
        width: calc(100% - 10px);
    }

    .filter-estado {
        width: calc(100%) !important;
    }

    .filter-estado .input-select-estado {
        width: calc(100% - 56px);
    }

    .table-component th,
    .table-component td {
        padding: 5% !important;
    }

    .table-component th,
    .table-component td h4 {
        max-width: 100%;
        min-width: unset;
    }
}

@media screen and (max-width:430px) {

    .contenido {
        padding: 10px;
    }

    .div-filters .div-tittle,
    .div-filters .content-filters {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav-main .contenido-notificaciones {
        position: fixed;
        width: 100%;
        right: unset;
        left: 0%;
        top: unset;
        top: 7.5%;
        min-width: unset;
    }

    .new-tr-table>td>div>div {
        flex-wrap: wrap;
    }

    .div-paginate div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .items-overflow-paginate {
        display: flex;
        flex-direction: column;
        height: max-content !important;
    }

    .div-points-paginate {
        width: max-content !important;
    }

    .points-paginate {
        width: 10px !important;
        height: 10px !important;
    }

    .div-chevron-paginate {
        background-color: rgb(165 213 176);
    }

    .div-chevron-paginate svg {
        width: 30px;
        width: 30px;
    }
    .new-div-table td {
        width: 100%;
    }
    .new-div-table .button-table-normal,
    .new-div-table .estado-1,
    .new-div-table .estado-2,
    .new-div-table .estado-3,
    .new-div-table .table-attribute-button-condition {
        width: 100%;
        height: unset;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width:600px) {
    .div-paginate {
        flex-wrap: wrap;
        gap: 30px;
    }
}


.button-table-pdf {
    background-color: red;
}

.icon-pdf-table {
    fill: red;
    width: 40px;
}

.div-reporte-pdf div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-div-table .div-reporte-pdf div{
   justify-content: left;
}
.div-icon-reporte-pdf {
    cursor: pointer;
    padding: 9px;
    border-radius: 4px;
}
.div-icon-reporte-pdf:hover{
    background-color: rgba(255, 11, 11, 0.131);
    
}