* {
    padding: 0;
    margin: 0;
}

.container-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    box-shadow: 0px 0px 5px 1px gray;
    padding: 20px;
    height: 92%;
    width: 95%;
    display: grid;
    grid-template-rows: 2.5fr 1fr;
}

.modal-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-block {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.content {
    background-color: white;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    padding: 15px 15px 15px 35px;
    box-shadow: 0px 0px 5px 2px rgb(205, 205, 205);
    border-radius: 10px;
}

/* Contenero de imagen */
.container-profile{
    display: flex;
    justify-content: center;
}
.container-profile img{
    width: 140px;
}

.container-data-user{
    display: grid;
    align-items: center;
    height: auto;
    /* background-color: rebeccapurple; */
    grid-template-columns: 1fr 1fr 1fr;
}
.items-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-slider {
    padding: 10px 0px 10px 0px;
    display: grid;
    grid-template: 100%/40px 1fr 40px;
}

.container-arrow {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 213, 35);
}

.name-estate{
    display: flex;
    gap: 14px;
}