* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: unset;
}

.formato-sca {
    border: 0.1vw solid black;
    width: 100%;
    height: auto;
    display: grid;
    grid-template: "notas1 nivel-tostion fragancia-aroma sabor           acidez       cuerpo        uniformidad  taza-limpia      puntaje-catador   puntaje-catador  puntaje-total " auto
        "notas1 nivel-tostion fragancia-aroma sabor-residual  acidez       cuerpo        balance      dulzor           defectos          defectos         defectos" auto
        "notas1 notas-final   notas-final     notas-final     notas-final  notas-final   notas-final  notas-final      notas-final       puntaje-final    puntaje-final" auto/
        0.5fr 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.6fr 0.4fr 0.6fr;
}

.notas1 {
    grid-area: notas1;
    border: 0.1vw solid black;

}

.tittle-notas1 {
    font-size: 0.9vw;
}

.nivel-tostion {
    grid-area: nivel-tostion;
    border: 0.1vw solid black;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1vw;
}

.tittle-nivel-tostion {
    font-size: 0.8vw;
    text-align: center;
}

.fragancia-aroma {
    grid-area: fragancia-aroma;
    border: 0.1vw solid black;
    display: grid;
    grid-template: "area-puntaje" 1fr
        "area-intensidad" 1fr/
        1fr;
    position: relative;
}


.sabor {
    grid-area: sabor;
    border: 0.1vw solid black;
    position: relative;
}

.acidez {
    grid-area: acidez;
    border: 0.1vw solid black;
    position: relative;
    display: grid;
    grid-template: "area-puntaje" 1fr
        "area-intensidad" 1fr/
        1fr;
    position: relative;
}

.intensidad-area-intensidad {
    width: 3vw;
    height: 5vw;
    position: absolute;
    font-size: 1.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3vw;
    margin-left: -2vw;
}

.tittle-alta-area-intensidad {
    top: 0;
    position: absolute;
}

.tittle-baja-area-intensidad {
    bottom: 0;
    position: absolute;
}

.tittle-intensidad {
    position: absolute;
    bottom: 100%;
    font-size: 0.7vw;
    margin-left: 1vw;
}

.cuerpo {
    grid-area: cuerpo;
    border: 0.1vw solid black;
    position: relative;
    display: grid;
    grid-template: "area-puntaje" 1fr
        "area-intensidad" 1fr/
        1fr;
    position: relative;
}

.uniformidad {
    grid-area: uniformidad;
    border: 0.1vw solid black;
    position: relative;
}

.taza-limpia {
    grid-area: taza-limpia;
    border: 0.1vw solid black;
    position: relative;
}

.puntaje-catador {
    grid-area: puntaje-catador;
    border: 0.1vw solid black;
    position: relative;
    border-bottom: 0.1vw solid black;
}

.puntaje-total {
    grid-area: puntaje-total;
    border: 0.1vw solid black;
    border-bottom: unset;
    position: relative;
}

.sabor-residual {
    grid-area: sabor-residual;
    border: 0.1vw solid black;
    position: relative;
}

.balance {
    grid-area: balance;
    border: 0.1vw solid black;
    position: relative;
}

.dulzor {
    grid-area: dulzor;
    border: 0.1vw solid black;
    position: relative;
}

.defectos {
    grid-area: defectos;
    border: 0.1vw solid black;
    position: relative;
    border-top: unset;
}

.notas-final {
    grid-area: notas-final;
    border: 0.1vw solid black;
    position: relative;
    display: flex;
    height: 4vw;
}

.puntaje-final {
    grid-area: puntaje-final;
    border: 0.1vw solid black;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: end;
    gap: 0.8vw;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.range {
    width: 2vw;
    height: 5vw;
    position: absolute;
    bottom: 0;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}



.linea {
    width: 100%;
    height: 1%;
    background-color: black;
}

.linea-centro {
    height: 99.9%;
    width: 1%;
    background-color: black;
    position: absolute;
}

.input-range {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
}

.range-nivel-intensidad {
    appearance: none;
    -webkit-appearance: none;
    height: 2vw;
    width: 5vw;
    position: absolute;
    transform: rotate(-90deg);
    background-color: transparent;
    cursor: pointer;
}

.range-nivel-intensidad::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2vw;
    background-color: transparent;
    width: 0.2vw;
}

.value {
    position: absolute;
    top: calc(100% - 0.2vw);
    font-size: 01vw;
}


.guia-range-item {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    z-index: 9;
}

.puntaje-item {
    border-left: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
    width: 2vw;
    height: 2vw;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
}

.h4-puntaje {
    font-size: 0.8vw;
    margin-left: 3vw;
    margin-top: 0.5vw;
    text-align: center;
}

.tittle {
    font-size: 0.8vw;
    font-weight: 900;
    margin-left: 0.4vw;
}

.numero-guia-range-item {
    position: absolute;
    bottom: -0.8vw;
    font-size: 0.6vw;
    margin-left: -0.1vw;
}

.div-range {
    position: absolute;
    bottom: calc(0% + 1vw);
    width: 100%;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



.linea6,
.linea7,
.linea8,
.linea9,
.linea10 {
    height: 100%;
    width: 1%;
    background-color: black;
}

.linea-lado {
    width: 1%;
    background-color: black;
    height: 40%;
    bottom: 0;
}

.linea-medio {
    width: 1%;
    height: 60%;
    background-color: black;
}

.input-range-puntaje {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    width: 90%;
    height: 0.1vw;
    z-index: 9;
    background-color: transparent;
    cursor: pointer;
}

.input-range-puntaje::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 3vw;
    width: 0.1vw;
    background-color: rgb(255, 175, 28);
}

.area-puntaje {
    grid-area: area-puntaje;
    position: relative;
}

.area-intensidad {
    grid-area: area-intensidad;
    display: flex;
    justify-content: center;
    align-items: center;
}



.range1-area-intensidad {
    left: 0;
    margin-left: 0.5vw;
}

.range2-area-intensidad {
    right: 0;
    margin-right: 0.5vw;
}

.tittle-area-intensidad {
    position: absolute;
    bottom: 100%;
    font-size: 0.7vw;
}

.calidad-area-intensidad {
    height: 100%;
    width: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.2vw;
}

.tittle-calidad-area-intensidad {
    font-size: 0.7vw;
    width: 100%;
    text-align: center;
}

.div-puntaje1-calidad-area-intensidad,
.div-puntaje2-calidad-area-intensidad {
    width: 100%;
    height: 2vw;
    border-bottom: 0.2vw solid black;
}

.select-cuadro {
    height: 4.7vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8vw;
}

.cuadro-select {
    border: 0.2vw solid black;
    width: 0.9vw;
    height: 0.9vw;
    cursor: pointer;
}

.focus-cuadro-select {
    background-color: black;
}

.range-color-inicial {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(192, 192, 192), rgb(150, 150, 150), rgb(129, 129, 129), rgb(49, 49, 49));
    position: absolute;
    z-index: -2;
}

.div-range-color {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    transform: rotate(180deg);
}

.range-color {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 0%;
    overflow: hidden;
}

.color-4-nivel-tostion {
    width: 100%;
    height: calc(5vw / 4);
    background-color: rgba(158, 156, 137);
    flex: none;
}

.color-3-nivel-tostion {
    width: 100%;
    height: calc(5vw / 4);
    background-color: rgb(146, 110, 84);
    flex: none;
}

.color-2-nivel-tostion {
    width: 100%;
    height: calc(5vw / 4);
    background-color: rgb(103, 75, 53);
    flex: none;
}

.color-1-nivel-tostion {
    width: 100%;
    height: calc(5vw / 4);
    background-color: rgb(69, 37, 18);
    flex: none;
}





/* .color-1-intensidad{
    width: 100%;
    height: calc(5vw / 5 );
    background-color:rgb(252, 252, 129) ;
    flex: none;
}
.color-2-intensidad{
    width: 100%;
    height: calc(5vw / 5 );
    background-color:rgba(254,255,49) ;
    flex: none;
}
.color-3-intensidad{
    width: 100%;
    height: calc(5vw / 5 );
    background-color:rgb(103,75,53) ;
    flex: none;
}
.color-4-intensidad{
    width: 100%;
    height: calc(5vw / 5 );
    background-color:rgb(69,37,18) ;
    flex: none;
}
.color-5-intensidad{
    width: 100%;
    height: calc(5vw / 5 );
    background-color:rgb(25, 218, 57) ;
    flex: none;
} */


.div-range-color-intensidad {
    width: 100%;
    height: 0%;
    position: absolute;
    overflow: hidden;
    max-height: 100%;
}

.color-intensidad {
    width: 100%;
    height: 5vw;
    background-image: linear-gradient(rgb(254, 255, 49), rgb(255, 175, 28), rgb(255, 112, 28), rgb(243, 48, 45));
}

.h4-puntaje-total {
    font-size: 0.8vw;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    text-align: left;
    left: 1vw;
}

.header-h4-defectos {
    display: flex;
    gap: 4vw;
}

.defectos {
    padding: 0.5vw 1vw;
    position: relative;
}

.h4-defectos {
    font-size: 0.7vw;
}

.items-h4-defectos {
    display: flex;
    flex-direction: column;
    margin-top: 1.7vw;
    gap: 1.5vw;
    font-size: 0.9vw;
}

.items-defectos {
    width: 12vw;
    height: 5vw;
    position: absolute;
    right: 0;
    bottom: 0;
}

.items-titulos-defectos {
    display: flex;
    gap: 2vw;
    padding: 0.7vw 1vw;
    font-size: 0.9vw;
}

.inputs-defectos {
    display: flex;
    padding: 0vw 1vw;
    gap: 0.7vw;
    justify-content: center;
    align-items: center;
}

.tazas-defectos,
.intensidad-defectos,
.resultado-tazas-x-intensidad-defectos {
    width: 1.9vw;
    height: 1.9vw;
    border: 0.1vw solid black;
    flex: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-defectos {
    font-size: 1.2vw;
}

.input-tazas-defectos,
.input-intensidad-defectos {
    width: calc(80%);
    height: calc(80%);
    border: unset;
    position: absolute;
    margin: unset;
    font-size: 1.2vw;
    background-color: transparent;
    cursor: pointer;
}

.input-tazas-defectos:focus,
.input-intensidad-defectos:focus {
    outline: none;
}

.h4-tittle-notas {
    font-size: 0.8vw;
    margin: 0.2vw 0.4vw;
}

.h4-puntaje-final {
    font-size: 0.9vw;
    bottom: 0;
}

.item-puntaje-final {
    border-left: 0.1vw solid black;
    width: 2.5vw;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
}

.texarea-notas-final {
    width: 96%;
    height: 100%;
    resize: none;
    position: absolute;
    border: unset;
    padding-left: 4%;
    background-color: transparent;
    font-size: 1vw;
    padding-top: 0%;

}

.texarea-notas-final:focus {
    outline: none;
}

.button {
    position: absolute;
    right: 0;
    display: none;
    overflow: hidden;
}
.value-range-item{
    position: absolute;
    background-color: rgba(200, 224, 245, 0.589);
    border-right: 3px solid orange;
}

.content-iframe-vacio{
    cursor: not-allowed;
}