* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.punto-ubicacion,
.punto {
    display: flex;
    justify-content: center;
    align-items: end;
}

.punto {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: end;
}

.div-mapa {
    position: absolute;
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
    top: 0;
    left: 0;
}

.center {
    border-top: 5px solid rgb(255, 38, 0);
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

/* .x{
    width: 100%;
    height: 1px;
    background-color: orange;
    position: absolute;
    z-index: 99;
}
.y{
    height: 100%;
    width: 1px;
    background-color: orange;
    position: absolute;
    z-index: 99;
} */
.content-mapa {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.element-departament,
.municipio {
    cursor: pointer;
}

.element-departament:hover,
.municipio:hover {
    filter: brightness(1.2);

}

.main-div-mapa {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;

    transform: scale(1);
    transition: all 0.6s;
}

#divPuntosUbicacion {
    position: absolute;

}

#svg4942 {
    z-index: 9;
}

.fondo-mapa {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -99999;
}

.department-cesar,
.department-cordoba,
.department-vichada,
.department-cundinamarca,
.department-valle_cauca,
.department-caqueta {
    fill: rgb(225, 225, 115);
}

.department-santander,
.department-choco,
.department-narino,
.department-tolima,
.department-meta,
.department-amazonas,
.department-guajira,
.department-sucre {
    fill: rgb(195, 216, 150);
}

.department-antioquia,
.department-casanare,
.department-vaupes,
.department-cauca,
.department-norte_santander,
.department-atlantico,
.department-quindio,
.department-bogota {
    fill: rgb(188, 186, 209);
}

.department-bolivar,
.department-arauca,
.department-caldas,
.department-guaviare,
.department-putumayo {
    fill: rgb(255, 205, 122);
}

.department-magdalena,
.department-boyaca,
.department-risaralda,
.department-huila,
.department-guainia {
    fill: rgb(253, 183, 212);
}



.punto-ubicacion {
    position: absolute;
    bottom: 0;
    flex: none;
}

.img-punto-ubicacion {
    width: 10px;
    position: absolute;
    bottom: 0;
}

.div-punto-ubicacion {
    background-color: red;
    width: 2px;
    height: 2px;
    position: absolute;
    bottom: 0;
}

#sizeMap path {
    visibility: hidden;
}

.title-element {
    font-size: 20px;
    position: absolute;
    z-index: 99;
    display: none;
    color: black;
    background-color: white;
    font-weight: bolder;
    padding: 4px;
    /* border-radius: 4px; */
    border: 2px solid blue;
}

body {
    overflow: hidden;
}

.municipio-focus {
    stroke: rgb(155, 240, 19) !important;
}

.miUbicacion {
    fill: red !important;
    width: 150px !important;
    height: 150px;
    position: absolute;
    z-index: -199;
}

.svg-ubicacion-cafe {
    width: 100px;
    height: max-content;
    fill: #4f1212;
    position: absolute;
    transition: all 0.5s;
}

.modal-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.div-fondo-modal-form {
    background-color: rgba(10, 10, 10, 0.435);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.div-form {
    background-color: white;
    display: flex;
    grid-template-columns: 1fr;
    gap: 45px;
    width: 444px;
    overflow: hidden;
    position: relative;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}


.div-content-form {
    background-color: rgb(240, 244, 248);
    padding: 50px 30px;
    z-index: 999;
    overflow: auto;
    height: max-content;
    width: 1700px;
    height: max-content;
    border-radius: 4px;
    max-width: calc(100% - 90px);
    position: relative;
}

.info-puntaje {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10px 10px;
}

.info-puntaje>div {
    padding: 20px;
    /* border-radius: 4px; */
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
    background-color: white;
    width: calc(100% - 40px);
    height: max-content;

}

/* .div-puntaje {

} */

.body-puntaje {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    color: green;
}

.leyenda-puntaje {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cuadro-calidad {
    background-color: gray;
    width: 30px;
    height: 30px;
    /* border-radius: 2px; */
}

.leyenda-puntaje>div {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.calidad-extraordinario {
    background-color: green;
}

.calidad-excelente {
    background-color: yellow;
}

.calidad-muy-bueno {
    background-color: orange;
}

.calidad-bueno {
    background-color: red;
}

.div-info-general {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.div-coordenadas {
    display: flex;
    padding: 10px;
    border: 1px solid rgb(45, 212, 191);
    flex-direction: column;
    text-align: center;
    gap: 10px;
    color: rgb(20, 184, 166);
}

.div-ubicacion-valor {
    display: flex;
    text-align: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title-secundario-coordenadas {
    color: rgb(142, 147, 150);
}

.title-ubicacion {
    font-weight: bolder;
}

.value-ubicacion {
    font-weight: 400;
}

.div-ubicacion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div-info-completa-finca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.div-img-info-general img {
    border-radius: 4px;
}

.title-info {
    text-align: center;
}

.div-info-finca {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.div-info-caficultor {
    display: flex;
    max-width: 100%;
    gap: 70px;
    padding: 20px;
    height: max-content;
    width: calc(100% - 40px);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div-info-caficultor>div {
    width: 100%;
}

.div-info-caficultor img {
    width: 100%;
}

.img-logo-encc {
    width: 110px;
    position: absolute;
    bottom: 15px;
    right: 25px;
}

.img-logo-sena {
    position: absolute;
    top: 0;
    left: 10px;
    width: 90px;
}

.div-info-content-general {
    width: calc(100% - 40px);
    height: auto;
    padding: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.head-title-info-caficultor {
    /* border-radius: 2px; */
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
}

.title-info-caficultor {
    background-color: rgb(212, 218, 250);
    color: rgb(92, 105, 173);
    font-size: 0.8em;
    display: flex;
    padding: 20px;
    gap: 95px;
    justify-content: space-between;
    align-items: center;
}

.div-info-caficultor .img-caficultor {
    width: 150px;
    /* border-radius: 4px; */
}

.div-informacion-analisis{
    display: flex;
    max-width: 100%;
    padding: 20px;
    height: max-content;
    width: calc(100% - 40px);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-info-analisis{
    background-color: white;
    width: calc(100% - 40px);
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
}
.content-info-analisis{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.info-analisis-sensorial{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.info-analisis-fisico{
    text-align: center;
}
.info-analisis h3{
    text-align: center;
}
.div-informacion-analisis table{
    width: 100%;
}
.div-informacion-analisis table td{
    border: 1px solid black;
    padding: 9px;
    text-align: left;
}
.div-informacion-analisis{
    grid-column-start: 1;
    grid-column-end: 3;
}

#iframeFormatoSca{
    width: 100%;
    max-width: 100%;
}

.div-informacion-analisis table thead th{
    padding: 12px;
    font-size: 1.2em;
}
.div-informacion-analisis table thead{
    background-color: rgb(13,136, 97); 
    color: white;
}

.icon-quit-svg-form{
    width: 20px;
    position: absolute;
    right:  25px;
    top: 15px;
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
}
.icon-quit-svg-form:hover{
    background-color: #00000017;
}
