* {
    padding: 0;
    margin: 0;
}

.punto-ubicacion,
.punto {
    display: flex;
    justify-content: center;
    align-items: end;
}

.punto {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: end;
}

.div-mapa {
    position: absolute;
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
    top: 0;
    left: 0;
}

.center {
    border-top: 5px solid rgb(255, 38, 0);
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

/* .x{
    width: 100%;
    height: 1px;
    background-color: orange;
    position: absolute;
    z-index: 99;
}
.y{
    height: 100%;
    width: 1px;
    background-color: orange;
    position: absolute;
    z-index: 99;
} */
.content-mapa {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.element-departament,
.municipio {
    cursor: pointer;
}

.element-departament:hover,
.municipio:hover {
    filter: brightness(1.2);

}

.main-div-mapa {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;

    transform: scale(1);
    transition: all 0.6s;
}

#divPuntosUbicacion {
    position: absolute;

}

#svg4942 {
    z-index: 9;
}

.fondo-mapa {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -99999;
}

.department-cesar,
.department-cordoba,
.department-vichada,
.department-cundinamarca,
.department-valle_cauca,
.department-caqueta {
    fill: rgb(225, 225, 115);
}

.department-santander,
.department-choco,
.department-narino,
.department-tolima,
.department-meta,
.department-amazonas,
.department-guajira,
.department-sucre {
    fill: rgb(195, 216, 150);
}

.department-antioquia,
.department-casanare,
.department-vaupes,
.department-cauca,
.department-norte_santander,
.department-atlantico,
.department-quindio,
.department-bogota {
    fill: rgb(188, 186, 209);
}

.department-bolivar,
.department-arauca,
.department-caldas,
.department-guaviare,
.department-putumayo {
    fill: rgb(255, 205, 122);
}

.department-magdalena,
.department-boyaca,
.department-risaralda,
.department-huila,
.department-guainia {
    fill: rgb(253, 183, 212);
}



.punto-ubicacion {
    position: absolute;
    bottom: 0;
    flex: none;
}

.img-punto-ubicacion {
    width: 10px;
    position: absolute;
    bottom: 0;
}

.div-punto-ubicacion {
    background-color: red;
    width: 2px;
    height: 2px;
    position: absolute;
    bottom: 0;
}

#sizeMap path {
    visibility: hidden;
}

.title-element {
    font-size: 20px;
    position: absolute;
    z-index: 99;
    display: none;
    color: black;
    background-color: white;
    font-weight: bolder;
    padding: 4px;
    border-radius: 4px;
    border: 2px solid blue;
}

body {
    overflow: hidden;
}

.municipio-focus {
    stroke: rgb(155, 240, 19) !important;
}

.miUbicacion {
    fill: red !important;
    width: 150px !important;
    height: 150px;
    position: absolute;
    z-index: -199;
}

.svg-ubicacion-cafe {
    width: 100px;
    height: max-content;
    fill: #4f1212;
    position: absolute;
    transition: all 0.5s;
}

.modal-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.div-fondo-modal-form {
    background-color: rgba(10, 10, 10, 0.435);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.div-fondo-modal-form {
    background-color: rgba(10, 10, 10, 0.435);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.div-content-form {
    z-index: 99999;
    background-color: white;
    border-radius: 4px;
    width: max-content;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; */
    padding: 30px;
    max-width: calc(100% - 100px);
    height: max-content;
}

/* .container-info-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-info-up div {
    border: 1px solid gray;
} */