* {
    padding: 0;
    margin: 0;
}


#mainMenu .darkMode  .input-update-profile,
#mainMenu .darkMode  .input-update-profile::placeholder {
    color: white;
}

/* #mainMenu .darkMode  #navHorizontal {
    background-color: rgb(31, 38, 60);
} */

#mainMenu .darkMode  #contenidoComponent {
    background-color: rgb(22, 26, 43);

}

#mainMenu .darkMode  #divContentFormResult {
    background-color: rgb(22, 26, 43);
    color: white;

}

#mainMenu .darkMode  .nav-vertical {
    background-color: rgb(31, 38, 60);
    color: white;
    border: unset;
    fill: white;
}

#mainMenu .darkMode  .head-info-profile,
#mainMenu .darkMode  .form-profile {
    background-color: rgb(31, 38, 60);
    color: white;
    border: unset;
    fill: white;
}

#mainMenu .darkMode  .nav-vertical .icon-opciones-usuario {
    background-color: rgb(31, 38, 60);
    color: white;
    border: unset;
    fill: white;
}

#mainMenu .darkMode  .table-component {
    background-color: rgb(31, 38, 60);
    color: white;
    fill: white;
}

#mainMenu .darkMode  .thead-table {
    background-color: rgb(31, 38, 60);
    color: white;

}

#mainMenu .darkMode  .div-filters {
    background-color: rgb(31, 38, 60);
    color: white;
    fill: white;

}

#mainMenu .darkMode  input {
    background-color: rgb(31, 38, 60);
}

#mainMenu .darkMode  .button-register-table {
    background-color: rgb(255, 64, 108);
}

#mainMenu .darkMode  .div-input-documento {
    background-color: rgb(22, 26, 43);
}

#mainMenu .darkMode  .nav-main .opciones-usuario,
#mainMenu .darkMode  .nav-main .opciones-usuario button,
#mainMenu .darkMode  .nav-main .link-opciones-usuarios {
    background-color: rgb(22, 26, 43);
    fill: white;
    color: white;
}

#mainMenu .darkMode  .nav-main .selected-li-perfil {
    background-color: rgb(203, 141, 7);
}

#mainMenu .darkMode  .nav-main .selected-li-perfil .link-opciones-usuarios {
    background-color: unset;
}

#mainMenu .darkMode  .div-paginate {
    color: white;
}

#mainMenu .darkMode  .option-update {
    fill: rgb(255, 64, 108);
}

#mainMenu .darkMode  .nav-main .selected-li svg {
    fill: white;
}

#mainMenu .darkMode  .nav-main .selected-li .hamburguer-centered {
    background-color: rgb(203, 141, 7);
}

#mainMenu .darkMode  .table-formato-fisico-template td,
#mainMenu .darkMode  .table-formato-fisico-template th {
    border-color: rgb(202, 199, 199);
}

#mainMenu .darkMode  .div-select svg {
    fill: white;
}

#mainMenu .darkMode  #divContentFormResult svg {
    fill: white;
}

#mainMenu .darkMode  .table-attribute-button-condition {
    background-color: rgb(203, 141, 7);
}

#mainMenu .darkMode  .opciones-input-select,
#mainMenu .darkMode  .opciones-input-select input,
#mainMenu .darkMode  .input-select-search input {
    background-color: rgb(22, 26, 43);
    color: white;
}

#mainMenu .darkMode  .input-select-search::placeholder {
    background-color: rgb(22, 26, 43);
    color: white;
}

#mainMenu .darkMode  #divContentForm,
#mainMenu .darkMode  #divForm {
    background-color: rgb(22, 26, 43);
    color: white;
}

#mainMenu .darkMode  .icon-quit-svg-form {
    fill: white;
}

#mainMenu .darkMode  .load-table {
    background-color: rgb(31, 38, 60);
    color: white;
}

#mainMenu .darkMode  .svg-plus-table {
    fill: white;
}

#mainMenu .darkMode  .component{
    background-color: unset;
}
#mainMenu .darkMode  #graficos {
    background-color: rgb(31, 38, 60);
    color: white;
}